---
layout: default
title: Home
---

<section class="home">

    <h1>Welcome to {{ site.title }}</h1>

    <p>
        This is my personal portfolio and blog.
    </p>

    <a href="{{ '/blog/' | relative_url }}">
        View Blog
    </a>

    <section class="featured-posts">

    <div class="section-header">

        <h2>Featured Posts</h2>
        
        {% assign featuredPosts = site.posts | where: "featured", true %}

        <div class="post-grid">

        {% for post in featuredPosts limit:3 %}

          {% include post-card.html post=post %}

        {% endfor %}

        </div>
    </div>
  </section>

</section>