---
layout: default
title: Blog
permalink: /blog/
---

<section class="blog-index">

    <header class="blog-header">
        <h1>Blog</h1>
        <p>
            Projects, programming, technology, and things I'm learning.
        </p>
    </header>

    <div class="post-grid">

<!-- Post Grid and limit of 6 showing -->
        {% for post in site.posts limit:6%}

            {% include post-card.html post=post %}

        {% endfor %}

    </div>

    <div class="blog-links">

        <a href="{{ '/archive/' | relative_url }}">
            View All Posts →
        </a>

    </div>

</section>